<article id="left">
  <h1><%= (yield :body_content_title) || @page.title %></h1>
  <%= (yield :body_content_left) || @page[:body]%>
</article>
<article id="right">
  <%= (yield :body_content_right) || '<div class="work">' + @page[:side_body] + '</div>' %>
</article>