<head>
  <title>Living Sky Web Development</title>
  <meta charset="utf-8" />
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'style', :theme => true %>
  <style>
    article, aside, details, figcaption, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>
</head>