<div id="header">
  <div id="logo">
    <a href="index.html"><%= image_tag 'logo.png', :theme => true %></a>
  </div>
  <%= render :partial => 'shared/menu' %>
  <div id="rss">
    <a href="#"><%= image_tag 'rss-icon.png', :theme => true %></a>
  </div>
  <div id="banner"></div>
</div>