<!--HEADER-->
      <header>
        <div id="logo">
          <%= link_to image_tag('logo.png', :theme => true), root_url %>
        </div>
        <%= render :partial => 'shared/menu' %>
        <div id="rss">
          <%= link_to image_tag('rss-icon.png', :theme => true), "#" %>
        </div>
        <div id="banner"><%= image_tag 'banner.jpg', :theme => true %></div>
      </header>