<div id="header">
  <div id="logo">
		<a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
  </div>
  <%= render :partial => 'shared/menu' %>
  <div id="rss">
  	<a href="#"><img src="images/rss-icon.png" alt="RSS" /></a>
  </div>
  <div id="banner"></div>
</div>