<!--MENU-->
        <nav>
        <% @menu_pages.each do |menu_branch| -%>
          <% selected = selected_page?(menu_branch) or descendant_page_selected?(menu_branch) -%>
          <%= link_to menu_branch.title, menu_branch.url, :class => selected ? 'selected' : nil %>
        <% end -%>
        </nav>